:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 5px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow);
  transition: var(--bg-transition);
  padding: 20px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: var(--text-primary);
}

.number {
  font-size: 20px;
  font-weight: bold;
  margin: 0.2em 0;
}

.warning {
  color: var(--state-warning);
}

.success {
  color: var(--state-success);
}

.danger {
  color: var(--state-danger);
}

.regular {
  color: var(--state-regular);
}

.neutral {
  color: var(--state-neutral);
}
