:host {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 4px 10px #E5E5E5;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #617691;
}

.number {
  margin-top: 10px;
  font-size: 45px;
  font-weight: bold;
  margin: .2em 0;
}

.warning {
  color: #F4CA64;
}

.success {
  color: #74D99F;
}

.danger {
  color: #D95C02;
}
