.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px;
  background: var(--pure-white);
  transition: var(--bg-transition);
  height: 28px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.icon {
  text-align: center;
  font-size: 18px;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #617691;
  border-radius: 50%;
  transform: translate(0);
  transition: transform 0.3s linear;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .circle {
  transform: translate(20px);
}

.checkbox:checked + .label {
  background: var(--dark-grey);
}
