<section class="header">
  <h1 class="header__title">
    <img src="assets/corona-logo.svg" />Covid-19 Stats
  </h1>
  <app-mode-toggle
    [mode]="storageTheme$ | async"
    (lightMode)="setLightMode()"
    (darkMode)="setDarkMode()"
  ></app-mode-toggle>
</section>

<section class="country-select">
  <form [formGroup]="countryForm">
    <label for="country">Select country</label>
    <ng-select
      labelForId="country"
      bindLabel="country"
      bindValue="country"
      formControlName="country"
      data-test-id="country"
      autofocus
      [items]="countryStats$ | async"
      [virtualScroll]="true"
      (change)="onCountryChange($event)"
    >
    </ng-select>
  </form>
</section>

<app-stat-list [stat]="stat$ | async" class="stat-list"></app-stat-list>
