<section class="header">
  <h1 class="header__title">
    <img src="assets/corona-logo.svg" />Covid-19 Stats
  </h1>
  <app-mode-toggle
    [mode]="storageTheme$ | async"
    (lightMode)="setLightMode()"
    (darkMode)="setDarkMode()"
  ></app-mode-toggle>
</section>

<section class="country-select">
  <label for="country">Select country</label>
  <ng-select
    [items]="countryStats$ | async"
    data-test-id="country"
    bindLabel="country"
    autofocus
    bindValue="country"
    (change)="onCountryChange($event)"
  >
  </ng-select>
</section>

<app-stat-list [stat]="stat$ | async" class="stat-list"></app-stat-list>
