.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 30px;
  font-weight: bold;
}

.stats,
.stats-shimmer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.stat-shimmer {
  height: 97px;
}

.stats__item,
.stat-shimmer {
  &:last-child {
    margin-bottom: 0;
  }
}

.title-shimmer {
  height: 32px;
  margin-bottom: 10px;
}

.remark {
  font-weight: bold;
}

.country-select {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 8px;
  }
}
