<section class="header">
  <h1 class="title">Covid-19 Stats</h1>
  <app-mode-toggle
    [mode]="storageTheme$ | async"
    (lightMode)="setLightMode()"
    (darkMode)="setDarkMode()"
  ></app-mode-toggle>
</section>

<section class="country-select">
  <label for="country">Select country</label>
  <ng-select
    [items]="countryNames$ | async"
    id="country"
    bindLabel="country"
    autofocus
    bindValue="country"
    (change)="onCountryChange($event)"
  >
  </ng-select>
</section>

<ng-container *ngIf="stats$ | async as stats; else shimmer">
  <app-stat-item
    *ngFor="let statItem of stats"
    [title]="statItem.title"
    [total]="statItem.total | number"
    [color]="statItem.color"
    class="stat-item"
  ></app-stat-item>
  <p>
    <span class="last-updated">🕒 Last updated:</span>
    {{ lastUpdated$ | async | date: 'd MMM y, H:mm' }}
  </p>
</ng-container>

<ng-template #shimmer>
  <div class="shimmer stat-shimmer"></div>
  <div class="shimmer stat-shimmer"></div>
  <div class="shimmer stat-shimmer"></div>
</ng-template>
