.shimmer {
  display: inline-block;
  width: 100%;
  background-color: var(--shimmer-start);
  background-image: linear-gradient(
    to right,
    var(--shimmer-start) 0,
    var(--shimmer-middle) 50%,
    var(--shimmer-end) 100%
  );
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  animation: shimmerEffect 1s linear infinite forwards;
}

@keyframes shimmerEffect {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}
