* {
  box-sizing: border-box;
}

:root {
  --pure-white: #fff;
  --dark-grey: #283142;
  --lynch: #617691;
  --athens-gray: #f5f7fa;
  --mercury: #e5e5e5;
  --mirage: #17202c;
  --bamboo: #d95c02;
  --bg-primary: var(--athens-gray);
  --bg-secondary: var(--pure-white);
  --text-primary: var(--lynch);
  --form-control: var(--lynch);
  --shadow: 2px 4px 10px var(--mercury);
  --state-warning: #a16c0d;
  --state-success: #40845a;
  --state-danger: #d14904;
  --state-regular: #1976dc;
  --bg-transition: background 0.1s linear;
  --border-radius: 5px;
  --shimmer-start: var(--bg-primary);
  --shimmer-middle: var(--bg-secondary);
  --shimmer-end: var(--bg-secondary);
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: var(--text-primary);
  transition: var(--bg-transition);
  min-width: 355px;
  height: 500px;
}

body.theme-dark {
  --bg-primary: #1c2632;
  --bg-secondary: var(--dark-grey);
  --text-primary: #859aaf;
  --state-warning: #f4ca64;
  --state-success: #74d99f;
  --state-danger: #f67002;
  --state-regular: #4ca1ef;
  --shadow: 2px 4px 10px #17202c;
  --shimmer-start: var(--bg-primary);
  --shimmer-middle: var(--bg-secondary);
  --shimmer-end: var(--bg-secondary);
}

@import './select';
@import './shimmer';
