* {
  box-sizing: border-box;
}

:root {
  --pure-white: #fff;
  --dark-grey: #283142;

  --bg-primary: #f5f7fa;
  --text-primary: #617691;
  --bg-secondary: var(--pure-white);
  --stat-shadow: 2px 4px 10px #e5e5e5;

  --state-warning: #f4ca64;
  --state-success: #74d99f;
  --state-danger: #d95c02;

  --bg-transition: background 0.1s linear;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-primary);

  transition: var(--bg-transition);
  min-width: 375px;
  min-height: 500px;
}

body.theme-dark {
  --bg-primary: #1c2632;
  --bg-secondary: var(--dark-grey);
  --text-primary: #859aaf;
  --stat-shadow: none;
}
